*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style:none;
    color: white;
}
.body{
    background-color: black;
}
h1{
    font-size: 50px;
}
.headerNavegacion{
    border-style:solid;
    border-color: yellow;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
    padding: 5px;
    flex-wrap: wrap;
}
.navegacionInicio{
    display: flex;
}
.listasHeader{
    margin-left: 40px;
}
.links{
    text-decoration: none;
    color: white;
}
.barraBusqueda{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.buscador{
    border-radius: 20px;
    padding-left: 10px;
    width: 900px;
    height: 45px;
    color: black;
    border-color:chartreuse;
    border-style:solid;
    border-width: 5px;
}
.carousel{
    padding: 20px;
}
.plataformasCuatro{
    display: flex;
    justify-content:space-around;
    margin: 60px;
    font-size: 38px;
    border-style: solid;
    border-color: yellow;
    padding: 25px;
    flex-wrap: wrap;
}
h2{
    font-size: 35px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.proximamente{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 20px;
}
.juego{
    width: 650px;
    height: 400px;
    border-radius: 20px;
    border-style:double;
    border-width: 5px;
}
.sipnosis{
    text-align: center;
    font-size: 31px;
    padding: 50px;
}
.col{
    font-size: 25px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    background-color: rebeccapurple;
    width: 2000px;
}
footer{
    background-color:rgb(124, 0, 0);
    padding: 20px;
    flex-wrap: wrap;
    margin: 80px 0px 50px 0px;
}
h3{
    display:flex;
    justify-content: center;
    margin: 50px;
    font-size: 35px;
}
.redes{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.redSocial{
    margin: 20px 100px 20px 100px;
}
.iconos{
    width: 75px;
}
.botones{
    display: flex;
    margin: 10px;
    color: black;
    background-color: brown;
    width: 200px;
    text-align: center;
}
.centro{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: blue;
    color: white;
}
.bodySesion{
    height: 500px;
    display: flex;
    align-items: center;
}
h2{
    padding: 20px;
}
form{
    padding: 20px;
    align-items: center;
}
label{
    color:white;
}
input{
    color: black;
}  